---
interface Props {
  title: string;
}

import Header from "../components/Header/Header.astro";
import "../styles/globals.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
  <script>
    import getScrollbarWidth from "../utils/scrollbar";
    const scrollWidth = getScrollbarWidth();
    const menu = document.querySelector(".nav-menu");
    const body = document.querySelector("body");
    document.querySelector(".burger-button").addEventListener("click", (e) => {
      e.stopPropagation();
      menu.classList.toggle("show");
      if (menu.classList.contains("show")) {
        body.classList.add("prevent-scroll");
        body.style.paddingRight = `${scrollWidth}px`;
      }
    });

    menu.addEventListener("transitionend", () => {
      if (!menu.classList.contains("show")) {
        body.classList.remove("prevent-scroll");
        body.style.paddingRight = "0px";
      }
    });

    window.addEventListener("click", (e) => {
      if (menu.classList.contains("show") && !menu.contains(e.target as Node)) {
        menu.classList.remove("show");
      }
    });
  </script>
</html>
