---
import Burger from "./Burger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <h1><a href="/" class="home-anchor">Sukairaida</a></h1>
    <Burger />
    <Navigation />
  </nav>
</header>

<style>
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    padding: 0.5rem 0 0.5rem 0;
  }

  h1 {
    font-weight: normal;
    background: linear-gradient(
      135deg,
      rgba(0, 150, 225, 1) 25%,
      rgba(0, 255, 250, 1) 50%
    );
    background-size: 400% 400%;
    animation: gradient 5s ease-in-out infinite alternate;
    filter: drop-shadow(0px 0px 4px #fff6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .home-anchor {
    font-size: 2rem;
    text-transform: uppercase;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  a {
    color: white;
  }
</style>
