* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
}

a{
    text-decoration: none;
}

.prevent-scroll{
    overflow-y: hidden;
    overflow-x: hidden;
}